
# Yolanda OBannon #

# wordpress core specific

public/index.php
public/license.txt
public/readme.html
public/wp-activate.php
public/wp-blog-header.php
public/wp-comments-post.php
public/wp-config.php
public/wp-config-sample.php
public/wp-cron.php
public/wp-links-opml.php
public/wp-load.php
public/wp-login.php
public/wp-mail.php
public/wp-settings.php
public/wp-signup.php
public/wp-trackback.php
public/xmlrpc.php

public/_notes/*
public/.vcode/*
public/wp-admin/*
public/wp-includes/*
public/_notes/*
public/wp-content/uploads/*
public/wp-content/upgrade/*
public/wp-content/mu-plugins/*

# Plugins #
public/wp-content/plugins/widget-google-reviews/
public/wp-content/plugins/advanced-nocaptcha-recaptcha/
public/wp-content/plugins/kadence-blocks/
public/wp-content/plugins/ninja-forms/
public/wp-content/plugins/loginpress/
public/wp-content/plugins/index.php

# Random folder in root dircetory
svg/*
images/*
photos/*


# Themes #
/wp-content/themes/twentytwentytwo/