
# Yolanda OBannon #

# wordpress core specific

index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
_notes/*
.vcode/*
wp-admin/*
wp-includes/*
_notes/*
wp-content/uploads/*
wp-content/upgrade/*
t/mu-plugins/*

# Plugins #
/wp-content/plugins/index.php

# Random folder in root dircetory
svg/*
images/*
photos/*


# Themes #
wp-content/themes/twentytwentytwo/